# IDEs
.vscode
.idea

# Node.js
node_modules
**/node_modules
report.*.json

# Rust
packages/backend/native-utils/target

# Developer stuff
.git
Dockerfile
docker-compose.yml
coverage
chart
doc
dev
npm-debug.log
*.pem
run.bat
api-docs.json
*.log
*.code-workspace
*.md

# config
/.config
ormconfig.json

# misskey
built
db
elasticsearch
redis
.DS_Store
files

# I don't see why this should be ignored - m.
# packages/backend/assets/instance.css


# temp development
goblin*.tar
